#content {
    background-color:#FAEDEC;
    font-family: 'Roboto', sans-serif;
}

.title {
    font-family: 'Coiny', cursive;
}

iframe {
    width: 100%;
}

.top {
    text-align: center;
    padding-top: 20px;
    margin: 0 auto;
}

.left {
    width: 600px;
    float: left;
    margin-top: 30px;
    
    
}

.right {
    width: 600px;
    float: left;
    margin-top: 30px;
    
}

ol li {
    margin-bottom: 20px;
}

ul li {
    list-style-type: none;
}

.otherRecipes a:hover {
    color: purple;
}

.otherRecipes {
    text-align: center;
    padding: 30px;
}

#otherRecipes {
    text-decoration-line: underline;
}

#checkbox {
    background-color: red;
    margin-right: 10px;
}