#content {
    background-color:#FAEDEC;
    font-family: 'Roboto', sans-serif;

}


.tbl {
    margin-top: 20px;
}

#bootstrap-overrides td {
    text-align: center;
    border: 1px dashed grey;
}

#bootstrap-overrides tr th{
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    border: 1px dashed grey;
}

#bootstrap-overrides table {
    border: 1px dashed grey;
}


.title {
    font-family: 'Coiny', cursive;
}

iframe {
    width: 100%;
}

.top {
    text-align: center;
    padding-top: 20px;
    margin: 0 auto;
}

.left {
    width: 600px;
    float: left;
    margin: 20px 0;
}

.right {
    width: 600px;
    float: left;
    margin: 20px 0;
}

.row {
    padding: 30px;
    border-bottom: 1px dashed grey;
}

ol li {
    margin-bottom: 20px;
}

ul li {
    list-style-type: none;
}

.otherRecipes a:hover {
    color: purple;
}

.otherRecipes {
    text-align: center;
    padding: 30px;
}

#otherRecipes {
    text-decoration-line: underline;
}

.chk  {
    border: 1px solid red !important; 
    margin-right: 10px;
}

