body {
    background-color:#FAEDEC;
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Coiny', cursive;
}

iframe {
    width: 100%;
}

.top {
    text-align: center;
}

.left {
    width: 40%;
    float: left;
    margin-top: 30px;
    margin-left: 5%;
    
}

.right {
    width: 40%;
    float: left;
    margin-left: 5%;
}

ol li {
    margin-bottom: 20px;
}

li a:hover {
    color:blue;
}